<div class="ElxpayBg" style="background:url(http://payment.eleximg.com/payment/pay/gamebg/ddt_br.jpg?2012) top center no-repeat">
    <div class="payWrap">
        <div class="ElxTop"></div>
        <div class="ElxMain">
			<div id="country_list"></div>
            <div class="inTitle">
            	<div class="payLi active">
                	<div class="inNumber">1</div>
                    <div id="tip_select_offer" class="inText"></div>
                </div>
                <div class="payLi active">
                	<div class="inNumber">2</div>
                    <div id="tip_choose_payment_method" class="inText"></div>
                </div>
                <div class="payLi" id="inLast">
                	<div class="inNumber">3</div>
                    <div id="tip_compare_and_order" class="inText"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="inContent">
            	<div class="payLeft">
                	<div id="tip_select_payment_method" class="tagTitle"></div>
                    <div id="payment_methods" class="payList"></div>	
                </div>
                <div class="payright">
                    <div class="tagTitle">
                    	<h1 id="tip_select_package"></h1>
                        <p id="tip_customer_service_email"></p>
                    </div>
                    <div class="payListCont">
                    	<div class="payListContWarp"></div>
                    </div>
                    <div class="contact"><a class="customer_service_link"></a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="ElxFoot"></div>
    </div>
</div>
<div id="offer_tab_display"></div>
<div id="analytic_337_com"></div>